.header {
    padding: var(--padding-s-rem) var(--padding-l-rem);
    background-color: var(--clr-accent-500);
    font-family: var(--font-family-primary);
    font-weight: 500;
}

.nav__list {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}

.nav__item,
.nav__link {
    color: var(--clr-neutral-100);
}


.nav__dropdown {
    left: 70px;
    top: 25px;
    position: absolute;
    background-color: var(--clr-accent-800);
}

.dropdown__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: var(--padding-xs-rem);
}